
<form action="/games/<%= @game.id %>/messages" method="POST">
  <input id="customTextField" type="textarea" name="custom_text" placeholder="Enter Custom Text Here">
    <input type='submit' id="text_button" value="Send Message">
</form>
