<p>Send Message...</p>
<form action="/messages" method="POST">
  <input id="text_button" type="button" value="Create Custom Message">
  <input id="customTextField" type="textarea" name="custom_text" placeholder="Enter Custom Text Here">
</form>
