<h1>LOGIN PAGE</h1>

<!-- post '/sessions' -->
<%= @errors %><br>
<form action="/sessions" method="POST">
  <div class="wrapper">
    <div class="material-textfield blue">
      <input type="text" name="email" placeholder="Email:">
    </div>
    <div class="material-textfield red">
      <input type="password" name="password" placeholder="Password:">
    </div>
  </div>
      <input type="submit" value="Login!">
</form>

