.hidden {
  display: none;
}

html {
  background: url("wood.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


form {
  margin-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  display:inline-block;
}

#header_yo {
  margin-left: 10px;
  border-bottom: 2px solid grey;
}

body {
  margin-left: 10px;
  max-width: 80%;
}



