@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);

.hidden {
  display: none;
}

html {
  background: url("wood.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 960px;
}


form {
  margin-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  display:inline-block;
}

#header_yo {
  margin-left: 10px;
  border-bottom: 2px solid grey;
}

body {
  margin-left: 10px;
  max-width: 80%;
}

a{
  color: #888;
  text-decoration: none;
}

a:hover{
  color:#355;
  font-size: 1.08em;
}

#logout-button {
  margin-left: 600px;
  padding-bottom: 10px;
}

#website-name {
  text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
  color: #343;
  opacity: 0.7;
  font: 700 60px 'Bitter';
}

