<h1>Host a game!</h1>
<form action="/games" method="POST">
  <input type="text" name="name" placeholder="Game Name:"><br><br>
<!--   <textarea rows="7" cols="35" name="comment" placeholder="Comment:"></textarea> -->
  <input type="submit" value="Host!">
</form>
