<h1>Can't find your game!</h1>
<h2>Please Enter Your Custom Game Instead</h2>
<form action="/custom_games" method="POST">
  <input type="text" name="game[name]" placeholder="Game Name:"><br><br>
  <input type="text" name="game[minplayers]" placeholder="Min Players:"><br>
  <input type="text" name="game[maxplayers]" placeholder="Max Players:"><br>
  <input type="text" name="game[minage]" placeholder="Minimum Age:"><br>
  <textarea rows="7" cols="35" name="game[description]" placeholder="Description:"></textarea>
  <input type="submit" value="Host!">
</form>
